.filter {
  display: flex;
  flex-direction: column;
  background-color: #44b0ee;
  border: 1px solid #00095bb3;
  border-radius: 5px;
}
.filterInput {
  width: 400px;
  padding: 10px;
  margin: 0 auto;
  border-radius: 5px;
}
